._2gyk
    width 100%

#pageHead, ._59g8, ._fmc
    position relative

#pagelet_bluebar

    #jewelContainer, .notifCentered
        background #9aa9c8
        border 1px solid #33518F
        border-radius 5px
        display block
        height 30px
        left 40px
        position absolute

        .jewelBeeperHeader
            left -289px
            position relative

        #fbMessagesFlyout, #u_0_2.uiToggleFlyout
            left -80px

        #fbNotificationsFlyout
            left -112px

        #fbRequestsFlyout
            left -50px

    [role=search]
        margin-left 160px