#pageHead, ._59g8, ._fmc
    position relative

#pagelet_bluebar

    [role=navigation] > div:nth-child(2)
        background #9aa9c8
        border 1px solid #33518F
        border-radius 5px
        display block
        height 30px
        left 48px
        position absolute
        top 5px

        ._4kny
            position relative
            top -5px

            &:nth-child(3)
                top -6px

        .jewelBeeperHeader
            left -289px
            position relative

        #fbMessagesFlyout, #u_0_2.uiToggleFlyout, .uiToggleFlyout
            left -80px

        #fbNotificationsFlyout
            left -112px

        #fbRequestsFlyout
            left -50px

    [role=search]
        margin-left 160px