#pageHead
    position relative

    #jewelContainer
        background #9aa9c8
        border 1px solid #33518F
        border-radius 5px
        display block
        height 30px
        left 40px
        position absolute

        .jewelBeeperHeader
            left -289px
            position relative

        #fbMessagesFlyout
            left -80px

        #fbNotificationsFlyout
            left -112px

        #fbRequestsFlyout
            left -50px

    #headNav > [role=search]
        margin-left 160px